<mat-toolbar color="primary" class="mat-elevation-z2">
  <span>Todo APP</span>
</mat-toolbar>
<section class="contet">
  <mat-card *ngFor="let list of lists | async">
    <mat-card-header>
      <mat-card-title> {{ list.name }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let item of list.items" role="listitem">
          <mat-checkbox [(ngModel)]="item.checked"> {{ item.value }} </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="remove(list)">Remover</button>
    </mat-card-actions>
  </mat-card>
</section>
